@font-face {
  font-family: Inter;
  src: url(../res/fonts/Inter.ttf);
}

* {
  font-family: Inter, serif;
}

#body {
  margin: 10px;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
}

#txtfields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: min-content;
}

.container {
  display: flex;
  justify-content: center;
  gap: 5px;

  &.vertical {
    flex-direction: column;
    gap: 10px;
  }

  &#body {
    justify-content: space-between;
  }
}

.gridContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;

  &#controlCont {
    grid-template-columns: 1.25fr 0.75fr;
  }
}

.label {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
}

#nickname, #id {
  font-size: 20px;
  border: none;
  border-bottom: black 1px solid;

  &:focus {
    outline: none;
  }
}

.imageButton {
  border: none;
  background-color: transparent;
  cursor: pointer;

  > img {
    width: 24px;
    height: 24px;
  }

  &.disabled {
    cursor: default;

    > img {
      opacity: 0.35;
    }
  }
}

#controls {
  display: grid;
  grid-template-areas:
    "sec0 sec1 sec2"
    "sec3 sec4 sec5"
    "sec6 sec7 sec8";
  height: 100%;
  gap: 20px;
}

#controllerContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.padded {
  padding: 10px;
}

.controlsContainer {
  display: grid;
  width: 100%;
  text-align: left;
  gap: 2px 20px;
  grid-template-columns: 30% auto;
}

.inputLabel {
  font-size: 15px;
  align-content: center;
}

.inputContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  > .inputButton {
    height: 100%;
  }

  > .unbindButton {
    height: 26px;
    padding: 0;
    margin: 0;

    > img {
      padding: 0;
      margin: 0;
      height: 26px;
      width: auto;
    }
  }
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.center {
  align-items: center;
}

.pressed {
  fill: rgb(0, 255, 0) !important;
}

#connect {
  width: calc(100% - 20px);
}

#remoteVideo {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -320px;
  transition: 0.3s ease;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &.open {
    right: 0;

    img {
      transform: rotate(-90deg);
    }
  }

  img {
    margin: 10px;
    width: 25px;
    height: 25px;
    transform: rotate(90deg);
    transition: 0.3s ease;
    cursor: pointer;
  }

  .main {
    height: 100vh;
    width: 300px;
    background-color: white;
    border-left: 1px solid black;
    padding: 10px;
    overflow: scroll;

    > div {
      padding-bottom: 10px;
    }
  }
}

.key {
  text-align: left;
  color: black;
  padding: 2px;
  border: 1px solid black;
  margin: 3px 0;
}

.title {
  margin: 3px 0;
}

#hover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 3px;
  border-radius: 5px;
  min-width: 5px;
  min-height: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  color: white;
}

.tip {
  margin: 0;
  padding: 0;
  color: gray;
}